<div class="chat-ui">
    <div *ngIf="imageData" class="image-container">
        <img [src]="imageData" alt="AI Generated Image">
    </div>

    <div *ngIf="messages && messages.length > 0" class="chat-interface">
        <div *ngFor="let message of messages" class="message" [ngClass]="{
                 'user-message': message.role === 'user',
                 'assistant-message': message.role === 'assistant',
                 'system-message': message.role === 'system'
             }">
            <img *ngIf="message.role === 'user'" [src]="userImage" alt="User Image" class="user-image">
            <img *ngIf="message.role === 'assistant'" [src]="imageData || partnerImage" alt="AI Image" class="ai-image">
            <p>{{ message.content }}</p>
        </div>
    </div>

    <div class="hello-msg">
        <p>Hi, I am {{ aiName }}, what do you want to talk about?</p>
    </div>

    <div class="message-input">
        <input type="text" [(ngModel)]="userInput" placeholder="Type a message..." (keyup.enter)="sendMessage()">
        <button (click)="sendMessage()">Send</button>
    </div>
</div>